.useCaseSection {
  padding: 0 0 var(--ifm-spacing-vertical); /* Remove top padding */
  background-color: var(--ifm-background-color);
  padding-bottom: 5rem;
  padding-top: 4rem; /* Reduced from 8rem */
}

[data-theme="dark"] .useCaseSection {
  background-color: color-mix(
    in srgb,
    var(--ifm-color-white) 5%,
    var(--ifm-color-black) 95%
  );
}
