@use '../../../css/abstracts' as *;

.docCallout {
  padding: space('2') space('4');
  margin: space('4') 0;
  background: rgba(color('white-1'), 0.03);
  border-left: 0.32rem solid;
  border-radius: 0 space('1') space('1') 0;

  &--info {
    background: linear-gradient(
      90deg,
      rgba(color('accent'), 0.1) 0%,
      transparent 100%
    );
    border-color: color('accent');
  }

  &--warning {
    background: linear-gradient(
      90deg,
      rgba(color('accent-amber'), 0.1) 0%,
      transparent 100%
    );
    border-color: color('accent-amber');
  }

  &--danger {
    background: linear-gradient(
      90deg,
      rgba(color('accent-red'), 0.1) 0%,
      transparent 100%
    );
    border-color: color('accent-red');
  }

  &__title {
    display: flex;
    gap: space('1');
    align-items: center;
    margin-bottom: space('1');
    font-family: var(--font-family-heading);
    font-weight: 600;
    text-transform: uppercase;
  }

  &__content {
    font-size: text-size('sm');
    line-height: 1.5;
  }
}
