@use '../../../../css/abstracts' as *;

.secondaryCta {
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  font-size: text-size('sm');
  color: color('steel');
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: all 0.2s;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom-color: color('steel');
    color: color('steel');
    text-decoration: none;
    filter: brightness(1.1);
  }
}
