@use '../../../css/abstracts' as *;

.root {
  display: flex;
  flex-direction: column;
}

.step {
  h3.title {
    padding-top: space('4');
    margin: 0 0 space('2');
    font-family: font-family('base');
    font-size: text-size('md');
    font-weight: 600;
    color: color('ink-1');
  }
}

.num {
  color: color('grey-1');
}

.body {
  display: flex;
  flex-direction: column;
  gap: space('3');
  padding-left: space('4');
  margin-left: space('4');
  border-left: 3px solid color('grey-5');

  p {
    margin: 0;
    font-size: text-size('base');
    line-height: 1.6;
    color: color('ink-3');
  }

  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
}
