@use '../../../../css/abstracts' as *;

.cleanCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--ifm-card-background-color);
  border: 1px solid var(--ifm-border-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-card-box-shadow);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;

  &:hover {
    transform: translateY(-0.32rem);
    box-shadow: 0 0.96rem 1.92rem -0.8rem rgba(0, 0, 0, 0.1);
    border-color: var(--ifm-color-primary-lightest);
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    padding: space('5');
    gap: space('4');
  }

  &__icon {
    color: var(--ifm-color-primary);
    background: var(--ifm-color-emphasis-100);
    width: fit-content;
    padding: space('1');
    border-radius: $card-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: var(--font-family-heading);
    font-weight: 600;
    font-size: text-size('base');
    color: var(--ifm-color-primary);
    margin: 0;
  }

  &__description {
    flex: 1;
    font-size: text-size('sm');
    line-height: 1.6;
    color: var(--ifm-font-color-base);
    opacity: 0.8;
  }

  &__cta {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: space('2');
    flex-wrap: wrap;
    align-items: center;
  }

  &__ctaPrimary {}

  &__ctaSecondary {
    padding-left: 0;
    color: var(--ifm-color-primary);
    font-weight: 500;

    &:hover {
      color: var(--color-accent-teal);
      text-decoration: none;

      .cleanCard__ctaIcon {
        transform: translateX(0.32rem);
      }
    }
  }

  &__ctaIcon {
    margin-left: 0.32rem;
    transition: transform 0.2s ease;
  }
}
