@use '../../../css/abstracts' as *;

.navbarSearchContainer:empty {
  display: none;
}

@include respond-to('desktop') {
  .navbarSearchContainer {
    position: absolute;
    right: var(--ifm-navbar-padding-horizontal);
  }
}

@include respond-above('desktop') {
  .navbarSearchContainer {
    padding: var(--ifm-navbar-item-padding-vertical)
      var(--ifm-navbar-item-padding-horizontal);
  }
}
