.shape {
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.shape--absolute {
  position: absolute;
  top: 0;
  left: 0;
}

/* Variants (Clip Paths) */
.shape--slanted {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.shape--cut-corner {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8rem), calc(100% - 8rem) 100%, 0 100%);
}

.shape--shard {
  clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0% 100%);
}

.shape--flip {
  transform: scaleX(-1);
}

/* Colors */
.shape--color-neutral {
  background-color: var(--color-bg-accent-subtle);
  opacity: 0.6;
}

.shape--color-primary {
  background-color: var(--ifm-color-primary-lightest);
  opacity: 0.1;
}

.shape--color-accent {
  background-color: var(--color-accent-teal);
  opacity: 0.05;
}